-
  /* MEMO: キー名にアンダーバーやハイフンを使うとコンパイルエラーになる模様 */

  //- Conceptページの画像リスト
  var menu_images = [
    {caption: 'カモミール', url: '../img/concept/01_chamomile.jpg', alt: 'chamomile', class: 'item'},
    {caption: 'ラベンダー', url: '../img/concept/02_lavender.jpg', alt: 'lavender', class: 'item'},
    {caption: 'アプリコット', url: '../img/concept/03_apricot.jpg', alt: 'apricot', class: 'item'},
    {caption: 'アロエ', url: '../img/concept/04_aloe.jpg', alt: 'aloe', class: 'item'},
    {caption: 'ローズマリー', url: '../img/concept/05_rosemary.jpg', alt:'rosemary', class: 'item'},
    {caption: 'チャイプ', url: '../img/concept/06_chives.jpg', alt:'chives', class: 'item'},
    {caption: '木苺', url: '../img/concept/07_raspberry.jpg', alt:'raspberry', class: 'item'},
    {caption: 'ミツロウ', url: '../img/concept/08_beewax.jpg', alt:'beewax', class: 'item'},
  ]

  //- 製品ページの製品一覧リスト（追加する場合はこちらに記述すれば追加されます。）
  var product_list = [
    {
      base_class: 'product-item-odd',
      sp_class: 'product-item',
      url: '../img/products/01lotion.jpg',
      link: '../detail/lotion.html',
      alt: 'Lotion',
      title: '敏感肌用化粧水',
      index: 'Lotion',
      text: '植物エキスが肌をきめ細やか整え滑らかにし、たっぷりと潤いを与えます。'
    },
    {
      base_class: 'product-item-even',
      sp_class: 'product-item',
      url: '../img/products/02milk.jpg',
      link: '../detail/milk.html',
      alt: 'Milk',
      title: '敏感肌用乳液',
      index: 'Moisure Milk',
      text: '天然成分が乾燥から肌を守り、ふっくらとした艶肌が長時間持続。肌の乾燥や肌荒れを防ぎます。'
    },
    {
      base_class: 'product-item-odd',
      sp_class: 'product-item',
      url: '../img/products/03soap.jpg',
      link: '../detail/soap.html',
      alt: 'Soap',
      title: 'ハンドメイドソープ',
      index: 'Handmade Soap',
      text: '天然クレイ入りの泡が肌を包み、保湿成分が潤いを守りながらさっぱり洗い上げます。'
    },
  ]

  //- FAQページのよくある質問リスト
  var question_list = [
    {
      id: 'box01',
      content: '防腐剤や香料は入っていますか。',
      answer: '防腐剤や合成香料は一切使用しておりません。AKARI Organicの商品は植物を原料としており、植物から抽出した精油など、95％以上が認定されたオーガニック原料です。'
    },
    {
      id: 'box02',
      content: 'パッチテストの方法を教えてください。',
      answer: '回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト'
    },
    {
      id: 'box03',
      content: '製品ごとの全成分を確認する方法を教えてください。',
      answer: '回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト'
    },
    {
      id: 'box04',
      content: '冷蔵庫で保管しても良いでしょうか。',
      answer: '回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト'
    },
    {
      id: 'box05',
      content: '使用期限がどのくらいでしょうか。',
      answer: '回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト'
    },
    {
      id: 'box06',
      content: 'どこの購入できますか。',
      answer: '回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト回答テキスト'
    },
  ]