include ./_const.pug

doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    title AKARI Organic
    link(rel='icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', content='text/plain', href='https://unpkg.com/ress/dist/ress.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Philosopher')
    link(rel='stylesheet', href='./css/concept.css' media='screen and (min-width: 769px)')
    link(rel='stylesheet', href='./css/sp_concept.css' media='screen and (max-width: 768px)')
    script(type='text/javascript', src='./js/module/build.js')

  body
    include ./header.pug

    div.page-title-area
      div.page-title
        p Concept

    div.middle-bg

    section.wrapper.component
      div.sect-index
        p 美肌をかなえる8つの成分
        span.idx Component

      div.sect-main
        p
          | 「肌本来の美しさ」を引き出すために選び抜かれた、14種類の自然由来成分。
          br
          | 自社農園で大事に栽培し、丁寧にエキスを抽出しています。

      div.component-img-area
        each image in menu_images
          div(class=`${image['class']}`)
            img(src=`${image['url']}`, alt=`${image['alt']}`)
            p #{image['caption']}

    section.wrapper.promise
      div.sect-index
        p 4つのお約束
        span.idx Promise

      div.p-wrapper
        div.sec-frame
          div.sec-no
            span 1
          p.p-index 作業工程の安全性も確認します
          p.p-desc 精油のブレンドは複雑で、一つ一つの原料は安全なのに、組み合わせや温度変化によって刺激物にもなる場合もあります。私たちは薬剤師の指導のもと、原材料の安全性はもちろん、作業工程、工場、製品そのものの管理も徹底しています。
        div.sec-frame
          div.sec-no
            span 2
          p.p-index 成分の95%以上がオーガニック原料
          p.p-desc AKARI Organicの原材料は、95%以上が認定されたオーガニック原料です。また、合成化合物質、合成肥料、遺伝子組み換え作物を使用していません。
        div.sec-frame
          div.sec-no
            span 3
          p.p-index 環境へ配慮した容器や包装を使用
          p.p-desc 容器包装において、資料量の削減に努めるほか、可能な限り環境へ配慮した素材を使用しています。容器にはサトウキビ由来の成分を使用したバイオPET樹脂を一部使用しています。また、包装への印刷に生物由来の素材を使用しています。
        div.sec-frame
          div.sec-no
            span 4
          p.p-index 動物実験は行いません
          p.p-desc AKARI Organicでは、外部委託も含め、動物に苦痛を与える動物実験は行いません。皮膚モデルを用いた評価など動物実験の代替手段によって、刺激レベルと安全性を確認しています。

    include ./footer.pug