header.page-header
  div.main-logo
    a(href='../index.html')
      img(src='../img/logo.png', alt='logo')
  div.site-links
    nav
      ul.main-nav
        li: a(href='../index.html')
          p Home
          p.wd-index トップページ
        li: a(href='../concept.html')
          p Concept
          p.wd-index コンセプト
        li: a(href='../products.html')
          p Products
          p.wd-index 製品情報
        li: a(href='../faq.html')
          p FAQ
          p.wd-index よくあるご質問
        li: a(href='../shop.html')
          p SHOP
          p.wd-index 店舗情報
  div.online-shop
    a(href='#') Online shop

  div#hamburger
    p.nav-toggle
      span
    nav.g-nav
      div.nav-logo
        img(src='../img/logo.png', alt='logo')
      ul.g-nav-menu
        li: a(href='../index.html')
          p Home
          p.sp-index トップページ
        li: a(href='../concept.html')
          p Concept
          p.sp-index コンセプト
        li: a(href='../products.html')
          p Products
          p.sp-index 製品情報
        li: a(href='../faq.html')
          p FAQ
          p.sp-index よくあるご質問
        li: a(href='../shop.html')
          p SHOP
          p.sp-index 店舗情報
      div.sect-btn
        a.btn.btn-border(href='#') Online shop
