section.page-footer
  div.sect-index
    p オンラインショップ
    span.idx Online Shop

  div.sect-btn
    a.btn.btn-border(href="#") Online Shop

footer
  div.site-links
    nav
      ul.footer-nav
        li: a(href='../index.html')
          p HOME
        li: a(href='../concept.html')
          p CONCEPT
        li: a(href='../products.html')
          p PRODUCTS
        li: a(href='../faq.html')
          p FAQ
        li: a(href='../shop.html')
          p SHOP
        li: a(href='#')
          p.outside-link ONLINE SHOP

  div.logo-area
    img(src="../img/logo_footer.png", alt="Logo")

  div.copyright
    p Copyright &copy; AKARI Organic All Rights Reserved.